@font-face 
{
    font-family: "wonderland";
    src: url("../assets/fonts/wonderland.TTF");
}

body
{
	background-color: #18212a;
}

.genericText
{	
	color: #ffffff;
	font-family: "wonderland";
}

.genericContainer
{
    background-color: #243141;
	
    border-style: solid;
    border-radius: 10px;
    border-width: 5px;
    border-color: #10171e;
}

.centered
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.genericLine
{
	color: #10171e; 
	border-color: #10171e;
}

.genericButton
{
    appearance: button;
    background-color: #2c84c8;
    border: 2px solid #aadaff;
    border-radius: 12px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: "wonderland";
    font-size: small;
    font-size: 14px;
    line-height: 1.15;
    overflow: visible;
    padding: 12px 16px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: all 80ms ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
}

.genericButton:disabled 
{
    opacity: .5;
}

.genericButton:focus 
{
    outline: 0;
}

.genericButton:hover 
{
    background-color: #226ca6;
    border-color: #2b4e69;
}

.genericButton:active 
{
    background-color: #1f6396;
    border-color: #1f6396;
}

@keyframes genericShakeAnim 
{
    0%              { transform: translate(0, 0); }
    10%, 90%        { transform: translate(-10px, 0); }
    20%, 80%        { transform: translate(10px, 0); }
    30%, 50%, 70%   { transform: translate(-10px, 0); }
    40%, 60%        { transform: translate(10px, 0); }
    100%            { transform: translate(0, 0); }
  }
  
.genericShake 
{
    animation: genericShakeAnim 0.5s;
}